[REPORTS]
output-format=parseable
reports=no

[MESSAGES CONTROL]
disable=logging-fstring-interpolation,too-many-statements,too-many-branches,too-many-locals,too-many-lines,missing-function-docstring,missing-module-docstring,missing-class-docstring,unused-wildcard-import

[LOGGING]
logging-format-style=new

[FORMAT]
max-line-length=200
